<!DOCTYPE html>
<html ng-app="aitu-project">
<head>
    <meta charset="utf-8" />
    <title>Product List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<style>
    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {background-color: #ddd;}

    .dropdown:hover .dropdown-content {display: block;}

    .dropdown:hover .dropbtn {background-color: #3e8e41;}
</style>
<body ng-controller="ProductCtrl">
<form ng-submit="signIn(account)" method="POST">
    <div class="container">
        <b>Login</b>
        <input type="text" placeholder="Your login" name="login" required ng-model="account.login">
        <b>Password</b>
        <input type="password" placeholder="Your password" name="password" required ng-model="account.password">
        <button type="submit">Sign In</button>
    </div>
</form>

<div class="row" style="text-align: center">
    <div class="col-lg-12">
        <label class="col-sm-2 col-form-label" style="text-align: center">{{shopMessage}} {{shop.name}}</label>

    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-log-12">
            <div id="options" class="m-b-10">
                <span class="gallery-option-set" id="filter" data-option-key="filter">
                    <a class="btn btn-default btn-xs active" ng-repeat="model in modelList" ng-click="getProductsByModel(model.modelId)">{{model.modelName}}</a>
                </span>
            </div>
        </div>
    </div>

    <h3>Product List</h3>
    <div class="dropdown">
        <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
            <a ng-click="getProductsByCategory(1)"  ng-model="category.id">Cakes</a>
            <a ng-click="getProductsByCategory(2)"  ng-model="category.id">Pies</a>
            <a ng-click="getProductsByCategory(3)"  ng-model="category.id">Donuts</a>
            <a ng-click="getProductsByCategory(4)"  ng-model="category.id">Strudels and kishi</a>
            <a ng-click="getProductsByCategory(5)"  ng-model="category.id">Macaroons</a>
            <a ng-click="getProductsByCategory(6)"  ng-model="category.id">Cheesecakes</a>
            <a ng-click="getProductsByCategory(7)"  ng-model="category.id">Ice cream</a>
            <a ng-click="getProductsByCategory(8)"  ng-model="category.id">Assorti</a>
            <a ng-click="getProductsByCategory(9)"  ng-model="category.id">Low-calorie</a>
            <a ng-click="getProductsByCategory(10)"  ng-model="category.id">Guacamole</a>
            <a ng-click="getProductsByCategory(11)"  ng-model="category.id">Сroissants</a>
            <a ng-click="getProductsByCategory(12)"  ng-model="category.id">Sorbet</a>
            <a ng-click="getProductsByCategory(13)"  ng-model="category.id">Tiramisu</a>
            <a ng-click="getProductsByCategory(14)"  ng-model="category.id">Cookies</a>
            <a ng-click="getProductsByCategory(15)"  ng-model="category.id">Fruit and Puree</a>
            <a ng-click="getProductsByCategory(16)"  ng-model="category.id">Made in KZ</a>
        </div>
    </div>

    <div class="row">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
            <th></th>
            <th>ID</th>
            <th>Category type</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            </thead>
            <tr ng-repeat="product in productList | orderBy: 'id'">
                <td ng-click="addProduct(product)"><button class="btn btn-danger btn-md" style="background-color: green">Add</button></td>

                <td ng-bind="product.id"></td>
                <td ng-bind="product.category_id"></td>
                <td ng-bind="product.name"></td>
                <td ng-bind="product.price"></td>
                <td ng-bind="product.description"></td>
            </tr>
        </table>
        <br><br>
        <b>Your Cart</b>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
            <th></th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            </thead>
            <tr ng-repeat="product in orderProductList" >
                <td ng-click="removeProduct(product)"><button class="btn btn-danger btn-md">REMOVE</button></td>
                <td ng-bind="product.name"></td>
                <td ng-bind="product.description"></td>
                <td ng-bind="product.price"></td>
                <td ng-bind="product.quantity"></td>
            </tr>
            <tr ng-bind="totalPrice"></tr>
        </table>
        <button ng-click="CountTotalPrice()" type="button" class="btn btn-primary">Count total price</button>
        <button ng-click="SendOrder()" type="button" class="btn btn-warning">Send Order</button>
        <button ng-click="SeeOrder()" type="button" class="btn btn-warning">See Order</button>

        <label>{{messageorder}}</label>
        <label>{{messageorderitem}}</label>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
            <th>ID</th>
            <th>Order_Id</th>
            <th>Product Id</th>
            <th>Quantity</th>
            <th>Price</th>
            </thead>
            <tr ng-repeat="order_item in orderitemList | orderBy: 'id'">
                <td ng-bind="order_item.id"></td>
                <td ng-bind="order_item.order_id"></td>
                <td ng-bind="order_item.product_id"></td>
                <td ng-bind="order_item.quantity"></td>
                <td ng-bind="order_item.price"></td>
            </tr>
        </table>
    </div>


</div>
</body>
</html>
